<!DOCTYPE html>
<html ng-app>
<head>
	<title>System Config Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<style>
		#mainTitle{ text-align: center;}
		#help{ font-size: 19px;}
	</style>
  <link rel="stylesheet" type="text/css" href="CSS/greenStyle.css">
    
</head>
 <div id="body">
  <div id="main">
<body onload="controller.getElements()">
	<h1 id="mainTitle">System Selector</h1>
	<br><br>
	<span id="help" class="help-block">Seleccione el conocimiento que tiene sobre computadoras</span>
		<section ng-init="tab = 1">
			<ul class="nav nav-pills">
				<li ng-class="{ active:tab === 1 }">
					<a href ng-click="tab = 1">Principiante</a>
				</li>
				<li ng-class="{ active:tab === 2 }">
					<a href ng-click="tab = 2">Intermedio</a>
				</li>
				<li ng-class="{ active:tab === 3 }">
					<a href ng-click="tab = 3">Avanzado</a>
				</li>
			</ul>
		</section>
		<div class="form-group" ng-show="tab === 1">
			<!-- FORMULARIO PARA EL USUARIO PRINCIPIANTE -->
			<form>
				<label for="uso">
					Uso que se le dar&aacute; al equipo
				</label><br/>
				<label for="oficina">
					<input type="radio" name="uso" value="oficina">
						Oficina
				</label><br/>	
				<label for="diseño grafico">
					<input type="radio" name="uso" value="diseño">
						Dise&ntilde;o gr&aacute;fico
				</label><br/>
				<label for="hogar">
					<input type="radio" name="uso" value="hogar">
						Hogar
				</label><br/>
				<label for="juegos">
					<input type="radio" name="uso" value="juegos">
						Juegos de alto rendimiento
				</label><br><br>
				<label for="dineroAInvertirLabel"> Rango de dinero a invertir (en Pesos): </label>
					<select class="form-control" id="dineroAInvertir"  onchange="">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>
				<br><br>
				<label>Cantidad de horas que utilizar&aacute; el equipo
				</label><br/>
				<div id="horasDeUsoPrincipiante">
				<br/>
					<label for="horasDeUso5"><input type="radio" name="horasDeUsoPrincipiante" id="5" value="5"/> De 4 a 6 horas diarias </label><br/>	
					<label for="horasDeUso7"><input type="radio" name="horasDeUsoPrincipiante" id="7" value="7"/> De 6 a 8 horas diarias </label><br/>	
					<label for="horasDeUso9"><input type="radio" name="horasDeUsoPrincipiante" id="9" value="9"/> De 8 a 10 horas diarias </label><br/>	
				</div><br/>
                <input type="checkbox" id="pretendoActualizarAFuturo" value="">Pretende actualizar su configuracion en un futuro cercano?<br>
                <br/> 
			  <button type="submit" class="btn btn-default" onclick="controller.irAPCBuild('Principiante')">Armar una maquina</button>
			<p class="help-block">Recuerde que esta es una configuracion para principiantes, cuando seleccione armar la m&aacute;quina, 
			se generar&aacute; un presupuesto con los componentes que usted seleccion&oacute; y se le recomendar&aacute; especificaciones completas con marcas
			 para poder realizar un pedido de forma precisa con los correspondientes valores en pesos</p>	
			</form>
		</div>
		
		
		<div class="form-group" ng-show="tab === 2">
			<!-- FORMULARIO PARA EL USUARIO INTERMEDIO -->
			<form>
				<h3>Caracter&iacute;sticas del equipo</h3>
				<label for="procesadorMarca"> Modelo procesador </label>
					<select class="form-control" id="procesadorMarca"  onchange="controller.getDescriptionProcesor()">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>
				<p class="help-block" id="descripcionProcesador"></p>
				<br/>
				<label for="marcaRamSeleccion"> Memoria RAM </label><br>
					<select class="form-control" id="marcaRamSeleccion"  onchange="controller.getDescriptionMemoriaRam()">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>
				<p class="help-block" id="descripcionMemoriaRam"></p>
				<br/>
				<label for="discoRigidoSeleccion"> Disco rigido </label><br>
					<select class="form-control" id="discoRigidoSeleccion"  onchange="controller.getDescriptionDiscoRigido()">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>
				<p class="help-block" id="descripcionDiscoRigido"></p>
				<br/>
				<label for="fuenteSeleccion"> Fuente </label><br>
					<select class="form-control" id="fuenteSeleccion"  onchange="controller.getDescriptionFuente()">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>
				<p class="help-block" id="descripcionFuente"></p>
				<br/>	
				<label for="placaMadreSeleccion"> Placa madre </label><br>
					<select class="form-control" id="placaMadreSeleccion"  onchange="controller.getDescriptionPlacaMadre()">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>
				<p class="help-block" id="descripcionPlacaMadre"></p>
				<br/>	
				<label for="placaVideoSeleccion"> Placa de video </label><br>
					<select class="form-control" id="placaVideoSeleccion"  onchange="controller.getDescriptionPlacaVideo()">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
						<option value="ninguna"> Ninguna </option>
					</select>
				<p class="help-block" id="descripcionPlacaVideo"></p>
				<br/>	
       	<label for="horasDeUsoIntermedio">
					Horas de uso que se le dar&aacute; a la m&aacute;quina
				<div id="horasDeUsoIntermedio">
				</label><br/>
					<label for="horasDeUso5"><input type="radio" name="horasDeUsoIntermedio" id="5" value="5"/> De 4 a 6 horas diarias </label><br/>	
					<label for="horasDeUso7"><input type="radio" name="horasDeUsoIntermedio" id="7" value="7"/> De 6 a 8 horas diarias </label><br/>	
					<label for="horasDeUso9"><input type="radio" name="horasDeUsoIntermedio" id="9" value="9"/> De 8 a 10 horas diarias </label><br/>	
				</div>				
			  <button type="submit" class="btn btn-default" onclick="controller.irAPCBuild('Intermedio')">Armar una máquina</button>
			</form>
		</div>	
		
		<div class="form-group" ng-show="tab === 3">
			<!-- FORMULARIO PARA EL USUARIO AVANZADO -->
			<form>
				<h3>Características del equipo</h3>
				<label for="marcaSeleccion">
					Marca del procesador
				<div id="marcProcesador" onchange="controller.filtro('marcaProcesador')">
				</label><br/>
					<label for="MarcaIntel">
						<input type="radio" name="marcasRadio" id="Intel" value="intel"/>
							Intel
					</label><br/>	
					<label for="MarcaAMD">
						<input type="radio" name="marcasRadio" id="Intel" value="AMD"/>
							AMD
					</label><br/><br/>
				</div>
				<label for="nucleosProcesador"> Cantidad de nucleos </label><br/>
					<select class="form-control" id="nucleosProcesador" onchange="controller.filtro('cantidadNucleos')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>
				<label for="velocidadProcesador"> Velocidad del procesador </label><br/>
					<select class="form-control" id="velocidadProcesador" onchange="controller.filtro('velocidadProcesador')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>	
				<label for="cacheProcesador"> Cach&eacute; del procesador </label><br/>
					<select class="form-control" id="cacheProcesador" onchange="controller.filtro('cacheProcesador')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="marcaRamAdvSeleccion">Marca de memoria RAM</label><br/>
					<select class="form-control" id="marcaRamAdvSeleccion" onchange="controller.filtro('marcaMemoria')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="cantidadMemoriaRam">Cantidad de memoria RAM</label><br/>
					<select class="form-control" id="cantidadMemoriaRam" onchange="controller.filtro('cantidadMemoria')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="velocidadMemoriaRam">Velocidad de memoria RAM</label><br/>
					<select class="form-control" id="velocidadMemoriaRam" onchange="controller.filtro('velocidadMemoria')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="marcaDisco">Marca del disco rígido</label><br/>
					<select class="form-control" id="marcaDisco" onchange="controller.filtro('marcaDisco')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="capacidadDisco">Capacidad del disco rígido</label><br/>
					<select class="form-control" id="capacidadDisco" onchange="controller.filtro('capacidadDisco')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="tipoDisco">Tipo de disco rígido</label><br/>
					<select class="form-control" id="tipoDisco" onchange="controller.filtro('tipoDisco')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="cacheDisco">Cache del disco rígido</label><br/>
					<select class="form-control" id="cacheDisco" onchange="controller.filtro('cacheDisco')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>							
				<label for="marcaFuente">Marca de la fuente</label><br/>
					<select class="form-control" id="marcaFuente" onchange="controller.filtro('marcaFuente')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>							
				<label for="wattsFuente">Watts fuente</label>
					<select class="form-control" id="wattsFuente" onchange="controller.filtro('wattsFuente')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="marcaPlacaMadre">Marca de placa madre</label>
					<select class="form-control" id="marcaPlacaMadre" onchange="controller.filtro('marcaPlacaMadre')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>			
				<label for="socketPlacaMadre">Socket de placa madre</label>
					<select class="form-control" id="socketPlacaMadre" onchange="controller.filtro('socketPlacaMadre')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<label for="marcaPlacaVideo">Marca de placa de video</label>
					<select class="form-control" id="marcaPlacaVideo" onchange="controller.filtro('marcaPlacaVideo')">					
						<option disabled selected>Seleccionar una opci&oacute;n</option>
					</select>		
				<br>	
				<label for="horasDeUsoAvanzado">
					Horas de uso que se le dara a la máquina
				<div id="horasDeUsoAvanzado">
				</label><br/>
					<label for="horasDeUso5"><input type="radio" name="horasDeUsoAvanzado" id="5" value="5"/> De 4 a 6 horas diarias </label><br/>	
					<label for="horasDeUso7"><input type="radio" name="horasDeUsoAvanzado" id="7" value="7"/> De 6 a 8 horas diarias </label><br/>	
					<label for="horasDeUso9"><input type="radio" name="horasDeUsoAvanzado" id="9" value="9"/> De 8 a 10 horas diarias </label><br/>	
				</div>
			  <button type="submit" class="btn btn-default" onclick="controller.irAPCBuild('Avanzado')">Armar una máquina</button>
			</form>
		</div>
    </div>
    </div>
    
  <div id="footer"><a href="http://www.info.unlp.edu.ar"><img width="120" height="120" src="Images/frente.jpg" alt="Enlace a UNLP"></a>
                     <a href="http://www.coolermaster.com/main/"><img width="120" height="120" src="Images/cool.jpg" alt="Enlace a CoolerMaster"></a>
                     <a href=" http://www.topower.com"><img width="120" height="120" src="Images/topower_logo.jpg" alt="Enlace a Topower"></a>
                     <a href="http://www.intel.la/content/www/xl/es/homepage.html"><img width="120" height="120" src="Images/intel.png" alt="Enlace a Intel"></a>
                     <a href="http://www.amd.com/es-xl"><img width="120" height="120" src="Images/amd.jpg" alt="Enlace a AMD"></a>

        <h3>Facultad de Inform&aacute;tica UNLP</h3>
    </div>
	<script type='text/javascript' src='angular.min.js'></script>
	<script src="js/db2.json"></script>
	<script type='text/javascript' src='js/main.js'></script> 		
	<script type='text/javascript' src='js/PCObject.js'></script> 		
	<script src="js/jquery/dist/jquery.js"></script>
</body>
</html>

